body {
	padding : 0px;
	margin : 0px;
}

.container {
	display: flex;
	width: 100%;
	height : 100vh;
	background : black;
	align-items : center ;
	justify-content: center;

}

.calculator {
	background: #000000;
	border-radius: 10px;
	border-left: 1px solid #FF7848;
	border-bottom: 1px solid #FF7848;
	
}

.calculator form input {
	border: 0;
	outline: 0;
	width : 60px;
	height : 60px;
	border-radius: 10px;
	background: transparent;
	font-size: 17px;
	color :#FDFDFD;
	margin:6px;
	
}
.calculator form input {
	border-radius: 100px;
	background: #1A1A1A;
}
.calculator form input:active {
	background: #2B2B2B;
}


form .display {
	display: flex;
	justify-content:flex-end;
	margin :20px 0px;
	
}
form .display input {
	text-align: right;
	flex: 1;
	font-size: 40px;
	box-shadow: none;
}

#display1 {
	text-align: right;
	flex: 1;
	box-shadow: none;
	font-size: 40px;
	width: 300px;
	color : #FDFDFD ;
	border: 0;
	background: black;
}

#equal {
	width: 135px;
	background: #FF7848;
	color :#FCF5F0;
	font-size: 25px;
}